      .welcome{
         display: flex;
         justify-content: center;
          color:rgb(238, 232, 232);
          margin-top: 9%;
          font-weight: bold;
          font-style: italic;
          
      }
    .phrase, .but{
        display: flex;
        justify-content: center;
         color: rgb(238, 232, 232);
         margin-top: 2%;
         font-weight: bold;
         font-style: italic;
     }
     
     .langues{
	margin-left:35%;
}
.nav-link {
	font-size: 20px;
}

.navbar-nav {
	color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-item .nav-link {
	color: rgb(238, 232, 232);
	font-style: italic;
}

body {
	background-image: url(stars2.jpg);
	background-size: cover;
}

.navbar-dark {
	background-image: url(stars2.jpg);
	background-size: unset;
}

.nav .form .item .btn {
	font-size:18.5px;
}

#navbarDropdownMenuLink{
	
	font-size:18.5px;
}

.btn {
	color: black;
}
/* .dropmenu{
	background-color:  rgb(153, 153, 153);
} */
#deroulant{
	background-color: rgb(153, 153, 153);
}